header{
    background-color: #ff3c84;
    text-align: center;
    color: #ff3c84;
}

h1{
    font-size: 50px;
    letter-spacing: 5px;
    font-family: fantasy;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 5px;

}

nav{
        float: center;
        background-color: #f79abc;
        font-size: 20px;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    background: #ff3c84;
    color: #f79abc;
}

body{
    background-image: url(./Multimedia/fondo.jpg);
    background-size: 2000px 1800px;
}

video {
    border: 5px solid #ff3c84;
    width: 350px;
    height: 270px;
    border-radius: 5px;
}

table,th,td{
    border: 2px solid;
    border-color: #f79abc;
    text-align: center;
    align-items: center;
}
th{
    background-color: #f79abc;
    
}
.tabla1{
    margin-left: 11%;
    margin-top: 1%;
}

#formulario {
    background-color: #f79abc;
    text-align: center;
    max-width: 750px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#formulario input[type="text"],
#formulario input[type="email"],
#formulario textarea,
#formulario input[type="checkbox"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#formulario input[type="checkbox"] {
    margin-top: 5px;
}

#formulario input[type="reset"],
#formulario input[type="submit"] {
    background-color: #2196F3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#formulario input[type="reset"]:hover,
#formulario input[type="submit"]:hover {
    background-color: #0d5eaf;
}


footer {
    background-color: #ff3c84;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#redes img{
    width: 40px;
    height: 40px;
}